/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(fundo.png);
    background-repeat: no-repeat;
    background-size: 1400px 800px;
}
/*fundo das paginas*/
.fundo{
    background-color: #f8c409;
    margin: 0;
    padding: 0;
    background-size: 1400px 800px;
}

/* Estilos do cabeçalho */
header {
    background-color: #ffd90000;
    color: rgb(255, 255, 255);
    /*valores superior e inferior, seguido de valores da direita e esquerda.*/
    padding: 20px 0;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 30px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Estilos das seções */
section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 28px;
    /*margin inferior*/
    margin-bottom: 20px;
}

/* Estilos das receitas */
.receita {
    background-color: #ffff7a;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.receita h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
h1{
    color: #402c2a;
    text-align: center;
}
h2{
    color: #402c2a;
    text-align: center;

}
p{
    color: rgb(0, 0, 0);
}
img {
    margin: auto;
    display: block;
  }
/* Estilos responsivos */
@media screen and (max-width: 768px) {
    /* Estilos responsivos aqui */
}

@media screen and (min-width: 769px) {
    /* Estilos responsivos aqui */
}
